openai
streamlit
audio_recorder_streamlit
streamlit-float
python-dotenv
tiktoken
pypdf==4.2.0
python-dotenv
PyPDF2==3.0.1
pycryptodome==3.18.0
unstructured
python-magic
libmagic
unstructured[all-docs]
faiss-cpu
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google-auth
pinecone-client
langchain
langchain-pinecone
langchain-openai
langchain-community
langchain-google-community